<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<style>
 h4{
        text-align: center;
        top: 13px;
        position: relative;
        padding-right:10px;
    }
form{
        width: 90%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 30px;
        top: 20px;
        position: relative;
        padding-right:10px;
        }

form label{
  font-weight:bold;
}
</style>

<h4>Enter Road Details</h4>

<form id="new_road" action="/road/new " method="post">

    <div class="form-group">
        <label for="block" >Block:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
 	    <select class="form-control" id="block" name="block" onclick="populateHabitation()" style="display: inline; width: 28%">
            {% set block = ['ATHOOR','BATLAGUNDU','DINDIGUL','GUZILIAMPARAI','KODAIKANAL','NATHAM','NILAKOTTAI',
                            'ODDANCHATRAM','PALANI','REDDIARCHATRAM','SHANARPATTI','THOPPAMPATTY','VADAMADURAI',
                            'VEDASANDUR'] %}
            {% for ch in block %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
        </select>
    <div>
        <label for="rd_code">Road Code:&nbsp;&nbsp;</label>
        <input type="text" id="rd_code" name="rd_code" onChange="check_code()"
               oninput="this.value = this.value.toUpperCase()" required style="display: inline; width: 10%;">
    </div>
    <div>
        <label for="rd_name">Road Name:&nbsp;</label>
        <input type="text" id="rd_name" name="rd_name" required style="display: inline; width: 70%">
    </div>
    <div>
        <label for="rd_cat">Category:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select class="form-control" id="rd_cat" name="rd_cat" style="display: inline; width: 13%">
            {% set rd_cat = ['PUR','VPR'] %}
            {% for ch in rd_cat %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="rd_width">Width:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="rd_width" name="rd_width" required style="display: inline; width: 10%" >
    </div>
    <div>
        <span style="text-decoration: underline; font-size: 13pt; color:blue;font-weight:bold"> Type of Road :- </span>
    </div>
    <Table>
       <tr>
             <th> Earthern</th>
             <th> Gravel</th>
             <th> WBMII </th>
             <th> WBMIII </th>
             <th> BT </th>
             <th> CC </th>
             <th> Total Length </th>
       </tr>
       <tr>
           <td> <input type="text" id="rd_ty_earth" name="rd_ty_earth" class="length" value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_ty_gravel" name="rd_ty_gravel" class="length" value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_ty_wb2" name="rd_ty_wb2" class="length" value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_ty_wb3" name="rd_ty_wb3" class="length" value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_ty_bt" name="rd_ty_bt" class="length"  value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_ty_cc" name="rd_ty_cc" class="length" value="0.000" size="5" maxlength="5"> </td>
           <td> <input type="text" id="rd_length" name="rd_length" value="0.000"> </td>
       </tr>
    </Table>
    <span>&nbsp;</span>
    <div>
        <label for="pm_rout_code">PMGSY(Code):</label>
        <input type="text" id="pm_rout_code" name="pm_rout_code" style="display: inline; width: 15%" >
        <label for="bus_rut_num">Bus Plying(Route No) :</label>
        <input type="text" id="bus_rut_num" name="bus_rut_num"  style="display: inline; width: 15%" >
    </div>
    <div>
        <label for="mgn_yn">MGNRGES (Yes/No) :</label>
        <select class="form-group" id="mgn_yn" name="mgn_yn" style="display: inline; width: 13%">
            {% set mgn_yn = ['Yes','No']%}
            {% for ch in mgn_yn %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
        </select>
        <label for="hill_yn">HillRoad (Yes/No):</label>
        <select class="form-group" id="hill_yn" name="hill_yn" style="display: inline; width: 13%">
            {% set hill_yn = ['Yes','No'] %}
            {% for ch in hill_yn %}
                <option value= "{{ch}}">{{ch}}</option>"
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="hab_name">Habitation_name :</label>
        <select class="habitationpicker" id="hab_name" name="hab_name" style="display: block width: 100%"></select>
        <label for="last_upd_yr">Last Upgradation Year:</label>
        <input type="text" id="last_upd_yr" name="last_upd_yr" value="0000-0000" style="display: inline;" size="7" maxlength="9" >
    </div>
    <button type="submit" class="btn btn-success">Save Road </button>
    </div>
</form>

<script>

$("#rd_code").on("change", function check_code() {
   var rds_code = $(this).val();
                    var source = "/roads_table_code/"+rds_code;
                    $.ajax({
                    type: 'GET',
                    url: source,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (json) {
                                 if (Object.keys(json).length !== 0) {
                      alert('Road Code already exist');
                      }
	                }
                    });
   });

function populateHabitation() {
     var block = document.getElementById('block').value;
     var source = "/habitations/"+block;
       $.ajax({
        type: 'GET',
        url: source,
        contentType: "application/json",
        dataType: 'json',
        success: function (json) {

            var arr = [];
            for(var i = 0; i < json.length; i++) {
                if(arr.indexOf(json[i]['Habitation Name']) === -1) {
                    arr.push(json[i]['Habitation Name']);
                }
            }
         var $schemename = $('.habitationpicker');
            var htmlEO = $.map(arr, function(lcn){
                return '<option value="' + lcn + '">' + lcn + '</option>'
            });

            $schemename.html(htmlEO);
        },
        error: function (e) {
            alert("error");
        }
    });
}

$(document).on("keyup",'input.length',function(){
  $expenses = $(this).parents('tr').find('.length');
  $expenseTotal = $(this).parents('tr').find('#rd_length');
  $expenseTotal.val('0.000');
  $.each($expenses,function(index,object){
    if($(object).val()!='')
    {
         $expenseTotal.val(parseFloat($expenseTotal.val())+parseFloat($(object).val()));
    }
  })
 });

$(document).ready(function(){
    $('[id^=rd_ty_earth]').keypress(validateNumber);
    $('[id^=rd_ty_gravel]').keypress(validateNumber);
    $('[id^=rd_ty_wb2]').keypress(validateNumber);
    $('[id^=rd_ty_wb3]').keypress(validateNumber);
    $('[id^=rd_ty_bt]').keypress(validateNumber);
    $('[id^=rd_ty_cc]').keypress(validateNumber);
    $('[id^=last_upd_yr]').keypress(validateNumber);
});

function validateNumber(event) {
    var key = window.event ? event.keyCode : event.which;
    if (event.keyCode === 8 || event.keyCode === 46) {
        return true;
    } else if ( key < 48 || key > 57 ) {
        return false;
    } else {
    	return true;
    }
};

</script>
{% endblock %}